@model FolderViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-headline">
    <h1>@Model.Foldername</h1>
    <p>
        <a class="btnStyle" asp-controller="ContentAreas" asp-action="Create" asp-route-id="@Model.CourseContentId" asp-route-folderId="@Model.FolderId">Create content area</a>
    </p>
</div>
<div>
        
    <h5 class="h5-heading">Content areas:</h5>
    

    @foreach (var item in Model.ContentAreas)
    {
        <div class="content-area">
            <img src="/images/document_on.png"/>
            <p>@item.TextBlock</p>
        </div>
    }



    <hr />

 

    <a asp-controller="CourseContents" asp-action="Details" asp-route-id="@Model.CourseContentId">Back to Course Content</a>

</div>
