@model FolderViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-headline">
    <h1>Details</h1>
    <p>
        <a class="btnStyle" asp-controller="ContentAreas" asp-action="Create" asp-route-folderId="@Model.FolderId">Create content area</a>
    </p>
</div>
<div>

    <h5>Content:</h5>

    @foreach (var item in Model.ContentAreas)
    {
        <p>@item.TextBlock</p>
        }


    <hr />

    <h5>Folders:</h5>
    @foreach (var folder in Model.Folders)
    {
        <p><a asp-controller="Folders" asp-action="Details" asp-route-id="@folder.FolderId">@folder.FolderName</a></p>
    }

    <hr />
    
    <a asp-controller="CourseContents" asp-action="Details" asp-route-id="@Model.CourseContentId" >Back to Course Content</a>

</div>
