@model TeachersViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Courses
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(i => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(i => item.Role)
                </td>
                
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Hand Ins
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HandIns)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentId)
                </td>
                <td>
                    @Html.DisplayFor(i => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(i => item.Assignment.Course.Name)
                </td>
                <td>
                    au
                    @for (var i = 0; i < 6; i++)
                    {
                        <text>0</text>
                    }
                    @item.GraderId.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>