@model TeachersViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Id)
        </dt>
        <dd class="col-sm-10">
            <text>au</text>@for (var i = Model.Teacher.Id.ToString().Length; i < 6; i++)
            {
                <text>0</text>
            }<text>@Model.Teacher.Id.ToString()</text>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.LastName)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Course Id
            </th>
            <th>
                Course Name
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseId)
                </td>
                <td>
                    <a asp-controller="Course" asp-action="Details" asp-route-id="@item.CourseId">
                        @Html.DisplayFor(i => item.Course.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(i => item.Role)
                </td>
                
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th>
            Hand Ins
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.HandIns)
    {
        <tr>
            <td>
                @* Lav her et anker til handin details *@
                @Html.DisplayFor(modelItem => item.AssignmentId)
            </td>
            <td>
                @Html.DisplayFor(i => item.Grade)
            </td>
                
            <td>
                au
                @for (var i = 0; i < 6; i++)
                {
                    <text>0</text>
                }
                @item.GraderId.ToString()
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="Teachers" asp-action="Index">Back to Teachers<</a>

