@model CourseContentViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="top-headline">
    <h1>@Model.CourseContent.Name</h1>
    <p>
        <a class="btnStyle" asp-action="Create" asp-controller="ContentAreas" asp-route-folderId="-1" asp-route-id="@ViewContext.RouteData.Values["id"]" >Create content area</a>
        <a class="btnStyle" asp-controller="Folders" asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"]">Create folder</a>
    </p>
</div>
<hr/>

<div>

    <h5 class="h5-heading">Content areas:</h5>
    
    
    @foreach (var item in Model.ContentAreas)
    {
        <div class="content-area">
            <img src="/images/document_on.png"/>
            <div class="textarea">
                <p class="show contentlink">Create content link</p>
                <div class="hidden" id="createLink">
                    <form asp-controller="ContentLinks" asp-action="Create" asp-route-pageId="@ViewContext.RouteData.Values["id"]" asp-route-id="@item.ContentAreaId">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <label asp-for="@Model.ContentLink.Type" class="control-label"></label>
                            <input asp-for="@Model.ContentLink.Type" placeholder="Audio, video, group signup links" class="input-link-form" />
                            <span asp-validation-for="@Model.ContentLink.Type" class="text-danger"></span>

                            <label style="margin-left: 20px;" asp-for="@Model.ContentLink.ContentUri" class="control-label"></label>
                            <input asp-for="@Model.ContentLink.ContentUri" placeholder="https://www.google.dk/" class="input-link-form2" />
                            <span asp-validation-for="@Model.ContentLink.ContentUri" class="text-danger"></span>

                            <input style="margin-left: 20px;" type="submit" value="Create" class="btnStyle" />

                    </form>
                </div>
                <div class="link-container">

                    @*Her får jeg en fejl, som er null!! Fatter ikke hvorfor*@

                    @if (item.ContentLinks.Count > 0)
                    {
                        <p class="attachedFiles">Attached Files:</p>
                        foreach (var link in item.ContentLinks)
                        {
                            <div class="contentLinks">
                                <p>
                                    <img src="/images/document_on.png"/>
                                    <a href="@link.ContentUri">@link.ContentUri</a>
                                    (Type:
                                    @link.Type)
                                </p>
                            </div>
                        }
                    }
                </div>
                <p>@item.TextBlock</p>
            </div>
        </div>
    }

        

    <hr/>
    
    <h5>Folders:</h5>
    @foreach (var folder in Model.Folders)
    {
        <div class="folder">
            <p>
                <img src="/images/document_on.png" />
                <a class="folder-style" asp-controller="Folders" asp-action="Details" asp-route-id="@folder.FolderId">@folder.FolderName</a>
            </p>
        </div>
    }

    <hr/>
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div>
    --
    <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseContent.Course.CourseId">Edit</a> |
    <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseContent.Course.CourseId">Back to course</a>
</div>
