@model CourseContentViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="top-headline">
    <h1>@Model.CourseContent.Name</h1>
    <p>
        <a class="btnStyle" asp-action="Create" asp-controller="ContentAreas" asp-route-folderId="-1" asp-route-id="@ViewContext.RouteData.Values["id"]" >Create content area</a>
        <a class="btnStyle" asp-controller="Folders" asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"]">Create folder</a>
    </p>
</div>
<hr/>

<div>

    <h5 class="h5-heading">Content areas:</h5>
    
    
    @foreach (var item in Model.ContentAreas)
    {
        <div class="content-area">
            <img src="/images/document_on.png"/>
            <p>@item.TextBlock</p>
        </div>
    }

        

    <hr/>
    
    <h5>Folders:</h5>
    @foreach (var folder in Model.Folders)
    {
        <div class="folder">
            <p>
                <img src="/images/document_on.png" />
                <a class="folder-style" asp-controller="Folders" asp-action="Details" asp-route-id="@folder.FolderId">@folder.FolderName</a>
            </p>
        </div>
    }

    <hr/>
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div>
    --
    <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseContent.Course.CourseId">Edit</a> |
    <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseContent.Course.CourseId">Back to course</a>
</div>
