@model CourseViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.DisplayNameFor(model => model.Students.First().Course.Name)

<table class="table">
    <thead>
    <tr>
        <th>
            Students
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName) 
            </td>
            <td>
                @Html.DisplayFor(i => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(i => item.Status)
            </td>
            <td>
                <text>au</text>
                @for (var i = item.Student.Id.ToString().Length; i < 6; i++)
                {
                    <text>0</text>
                }
                <text>@item.Student.Id.ToString()</text>
            </td>
        </tr>
    }
    </tbody>
</table>


<table class="table">
    <thead>
    <tr>
        <th>
            Teachers
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Teachers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName)
            </td>
            <td>
                @Html.DisplayFor(i => item.Teacher.LastName)
            </td>
            <td>
                @Html.DisplayFor(i => item.Role)
            </td>
            <td>
                au
                @for (var i = item.Teacher.Id.ToString().Length; i < 6; i++)
                {
                    <text>0</text>
                }
                @item.Teacher.Id.ToString()
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="Course" asp-action="Index">Back to Course</a>
<a asp-action="Create" asp-controller="Attends">Enroll a student</a>
<a asp-action="Create" asp-controller="Teaches">Add a teacher</a>
