@model CourseViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.DisplayNameFor(model => model.Students.First().Course.Name)

<table class="table">
    <thead>
    <tr>
        <th>
            Students
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName) 
            </td>
            <td>
                @Html.DisplayFor(i => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(i => item.Status)
            </td>
            <td>
                <text>au</text>
                @for (var i = item.Student.Id.ToString().Length; i < 6; i++)
                {
                    <text>0</text>
                }
                <text>@item.Student.Id.ToString()</text>
            </td>
        </tr>
    }
    </tbody>
</table>


<table class="table">
    <thead>
    <tr>
        <th>
            Assignments
        </th>
        <th>
            Max assigners
        </th>
        <th>
            Course id
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Assignments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(i => item.MaxAssigners)
            </td>
            <td>
                @Html.DisplayFor(i => item.CourseId)
            </td>
            <td>
                <a asp-controller="Assignments" asp-action="Delete" asp-route-id="@item.AssignmentId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a class="btnStyle" asp-controller="Assignments" asp-action="Create">Add assignment</a>
