@model CourseViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.DisplayNameFor(model => model.Students.First().Course.Name)

<table class="table">
    <thead>
    <tr>
        <th>
            Students
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName + " " + item.Student.LastName) 
            </td>
            <td>
                @Html.DisplayFor(i => item.Status)
            </td>
            <td>
                @Html.DisplayFor(i => "au" + item.Student.AuId)
            </td>
        </tr>
    }
    </tbody>
</table>


<table class="table">
    <thead>
    <tr>
        <th>
            Teachers
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Teachers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName + " " + item.Teacher.LastName) 
            </td>
            <td>
                @Html.DisplayFor(i => item.Role)
            </td>
            <td>
                @Html.DisplayFor(i => "au" + item.Teacher.AuId)
            </td>
        </tr>
    }
    </tbody>
</table>
