@model IEnumerable<Blackboard_2_0.Models.Data.HandIn>

@{
    ViewData["Title"] = "ViewHandInsForAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HandIns for Assignment </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                Group
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grader)
            </th>
            <th>HandIn Text</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @item.AssignersId.ToString()
            </td>
            <td>
                @{
                    if (item.GraderId != null)
                    {
                        @item.GraderId.ToString()
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(x => item.Text)
            </td>
            <td>
                <a asp-controller="HandIn" asp-action="Grade" asp-route-AssignersId="@item.AssignersId" asp-route-AssignmentId="@item.AssignmentId">Grade</a>
            </td>
        </tr>
}
    </tbody>
</table>
